<div class="docdownload-inner component-inner">
    {{> component this}}
    <div class="docdownload-widget component-widget" >

        <div class="docdownload-container">
            <button class="docdownload-btn">Download Document</button> 
        </div>
    </div>
</div>